<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 col-lg-6 col-xl-4 mb-3" *ngFor="let advertisement of advertisements">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title m-0">{{advertisement.name}}</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle text-muted mb-1">Id: {{advertisement.id}}</h6>

                    <div class="overflow-auto" style="height: 150px;">
                        <p class="card-text">{{advertisement.description}}</p>
                    </div>
                </div>

                <div class="card-footer text-muted">
                    <p class="m-0">Author: {{advertisement.username}}</p>
                </div>
            </div>
        </div>
    </div>
</div>